body {
    background-color: black;
    color: whitesmoke;
}

h1 {
    color: chocolate;
}

h2 {
    color: aquamarine;
}

p {
    color: goldenrod;
}

.pirocao {
    color: pink;
}

.pintinho {
    color: peru;
}